#Data Bootcamp Selection Challenge
#####In this challenge you will calculate various KPIs using a car based dataset, each question will have a single correct answer that will be evaluated through automated unit testing. Use the dictionary provided below to fill in your answers, each question will state the format required for the answer and examples are provided so you know how properly fill the answer dictionary.
#####**Use the dataset "as is" and do not perform any data cleaning or modify it in any way, doing so could make you answer all your questions incorrectly. Do not modify the structure of the answer dictionary.**

#####When you finish this challenge please upload both your notebook and your answer dictionary in pickle format to a public github repository submit their URL to the [google form](https://forms.gle/wWysZEMkoZsjB11Y7) that was provided to you.

##### Some unit tests are provided at the end of this notebook to help you verify your answers are in the correct format, however they will not test everything.

In [1]:
#Use this dictionary to store your answers in the correct format in the cells below , do not modify the keys
answer_dict =  {"Q1" : None,
                "Q2" : None,
                "Q3" : None,
                "Q4" : None,
                "Q5" : None,
                "Q6" : None,
                "Q7" : None}

##Reading the dataset
#####An example is provided to read the dataset using [pandas](https://pandas.pydata.org/), while we reccommend using pandas you may use any python library to solve this challenge.

In [2]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
url = "https://storage.googleapis.com/deb-evaluation-materials/vehicles.csv"
df = pd.read_csv(url)

In [3]:
df.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

##Q1. What is the average CO2 emmission per gram/mile of all Volkswagen cars?

##### Format: A floating number
##### Example answer:
 `11.547`

In [5]:
########## Q1
#Your code here
def calculate_mean_emission(df, make):
    try:
        filtered_df = df[df['Make'] == make]
        mean_emission = filtered_df['CO2 Emission Grams/Mile'].mean()
        return mean_emission
    except KeyError:
        raise KeyError("Invalid column name: 'Make' or 'CO2 Emission Grams/Mile' not found.")

try:
    # Calculate mean CO2 emission for Volkswagen
    volkswagen_mean_emission = calculate_mean_emission(df, 'Volkswagen')

    answer_dict = {"Q1": round(volkswagen_mean_emission, 3)}

except Exception as e:
    print("Error:", str(e))

# Convert the value of 'Q1' from str to float
answer_dict["Q1"] = float(answer_dict["Q1"])

print("Mean CO2 Emission for Volkswagen:", answer_dict["Q1"])

#Example answer:
#answer_dict["Q1"] =  11.547

Mean CO2 Emission for Volkswagen: 392.742

##Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models.
##### **NOTE:** Consider only the name of the models and their brand, that is use only the Make and Model columns
##### Format: A 5X2 list with each row being the name of the brand followed by the unique number of models, in descending order.
#####Hint: You can use the pandas [df.values.tolist()](https://pandas.pydata.org/docs/reference/api/pandas.Series.tolist.html) function to format your answer.

##### Example answer:
`[["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]`

In [6]:
########## Q2

# Calculate the number of unique models for each car brand and select the top 5 brands with the most unique models.
unique_brands = df.groupby('Make')['Model'].nunique().sort_values(ascending=False).nlargest(5).reset_index()

# Rename the 'Model' column to 'No_Unique_Models' to indicate the number of unique models for each brand.
unique_brands = unique_brands.rename(columns={'Model': 'No_Unique_Models'})

# Convert the DataFrame to a list of lists to store the top 5 brands and their corresponding number of unique models.
answer_dict["Q2"] = unique_brands.values.tolist()
print(answer_dict["Q2"])

#Example answer:
#answer_dict["Q2"] =  [["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]

[['Mercedes-Benz', 333], ['BMW', 284], ['Chevrolet', 253], ['Ford', 185], ['GMC', 163]]

##Q3. What are all the different types of fuels in the dataset sorted alphabetically?
##### Format: A list of strings sorted alphabetically.
##### Example Answer:
`['Regular',
 'Premium']`

In [7]:
########## Q3

# Get the unique values of 'Fuel Type'
unique_fuel_types = df['Fuel Type'].unique()
# Sort the unique fuel types
sorted_fuel_types = pd.Series(unique_fuel_types).sort_values()
answer_dict["Q3"] = sorted_fuel_types.values.tolist()
print(answer_dict["Q3"])

#Example answer:
#answer_dict["Q3"] =  ['Regular', 'Premium']

['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas', 'Gasoline or propane', 'Midgrade', 'Premium', 'Premium Gas or Electricity', 'Premium and Electricity', 'Premium or E85', 'Regular', 'Regular Gas and Electricity', 'Regular Gas or Electricity']

##Q4. Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. Show the car Model, Year and their Fuel Barrels/Year in standard deviation units([Z-score](https://fredclavel.org/2019/03/18/basics-standardization-and-the-z-score/)) **sorted** in descending order by their Fuel Barrels/Year in absolute terms first and then by year in descending order **BUT** without modifying the negative values (see example).

##### Format: A 9X3 list with each row containing the Model, Year and Fuel Barrels/Year in standard deviations units

##### Example answer:
```
[['DJ Po Vehicle 2WD', 2004, -6.407431084026927],
 ['FJ8c Post Office', 2003, -6.407431084026927],
 ['Post Office DJ5 2WD', 2005, -6.391684618442447],
 ['Sierra 2500 Hd 2WD', 2002, -6.391684618442447],
 ['Camry CNG', 2012, 2.677633075759575],
 ['Sierra 1500 4WD', 2005, 2.677633075759575],
 ['Sierra 1500 4WD', 2001, 2.677633075759575],
 ['V15 Suburban 4WD', 1988, 2.677633075759575],
 ['V15 Suburban 4WD', 1987, 2.677633075759575]]
```
#####Note that while the list is sorted by the Fuel Barrels/Year in absolute terms and in standard deviation units, the values are not modified. If the values are the same the rows are sorted by the year.

In [8]:
########## Q4
def get_extreme_toyota_cars(df, n=9):
    # Filter the DataFrame to select rows where 'Make' is 'Toyota'
    df_toyotas = df[df['Make'] == 'Toyota']
    
    # Calculate the Z-score for 'Fuel Barrels/Year' within Toyota cars using loc
    df_toyotas.loc[:, 'Z-score'] = (df_toyotas['Fuel Barrels/Year'] - df_toyotas['Fuel Barrels/Year'].mean()) / df_toyotas['Fuel Barrels/Year'].std(ddof=0)

    # Sort the DataFrame by the absolute value of 'Fuel Barrels/Year' and year in descending order
    df_toyotas_sorted = df_toyotas.loc[df_toyotas['Fuel Barrels/Year'].abs().nlargest(n).index]

    # Sort by Z-score in descending order while preserving the original order if Z-scores are the same
    df_toyotas_sorted = df_toyotas_sorted.sort_values(by=['Z-score', 'Year'], ascending=[False, False])

    # Display the first n rows (without modifying the negative values)
    result = df_toyotas_sorted[['Model', 'Year', 'Z-score']]
    
    return result

# Call the function and print the result for the top 9 Toyota cars with extreme Fuel Barrels/Year
result = get_extreme_toyota_cars(df)
answer_dict["Q4"] = result.values.tolist()
print(answer_dict["Q4"])

[['Cab/Chassis 2WD', 1993, 4.113376218494302], ['Cab/Chassis 2WD', 1992, 4.113376218494302], ['Cab/Chassis 2WD', 1991, 4.113376218494302], ['Cab/Chassis 2WD', 1990, 4.113376218494302], ['Cab/Chassis 2WD', 1989, 4.113376218494302], ['Cab/Chassis 2WD', 1993, 3.380032477246414], ['Cab/Chassis 2WD', 1992, 3.380032477246414], ['Cab/Chassis 2WD', 1991, 3.380032477246414], ['Cab/Chassis 2WD', 1990, 3.380032477246414]]

##Q5. Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 5-spd transmission and Regular Fuel Type. Show the Year, the Combined MPG and the calculated difference of MPG in a list sorted by Year in ascending order.

##### Format: A 19X3 list, with the Year and Combined MPG being of type integer **and only the calculated difference is of type float**
##### **Note: The value for the first model should be 0.** It does not matter that there are gaps in the years, calculate with respect the previous model.

#####Example answer:



```
[[1986, 25, 0.0],
 [1987, 25, 0.0],
 [1988, 25, 0.0],
 [1989, 25, 0.0],
 [1990, 23, -2.0],
 [1991, 23, 0.0],
 [1992, 24, 1.0],
 [1993, 25, 1.0],
 [1994, 25, 0.0],
 [1995, 25, 0.0],
 [1996, 25, 0.0],
 [1997, 25, 0.0],
 [1998, 24, -1.0],
 [1999, 25, 1.0],
 [2000, 24, -1.0],
 [2001, 24, 0.0],
 [2002, 24, 0.0],
 [2004, 24, 0.0],
 [2006, 24, 0.0]]
```

In [9]:
########## Q5
def calculate_combined_mpg_changes(df):
    # Filter the DataFrame to select rows with the specified conditions
    df_filtered = df[(df['Make'] == 'Volkswagen') & 
                     (df['Model'] == 'Golf') & 
                     (df['Fuel Type'] == 'Regular') & 
                     (df['Transmission'] == 'Manual 5-spd')]
    
    # Sort the DataFrame by 'Year' in ascending order
    df_sorted = df_filtered.sort_values(by='Year', ascending=True)
    
    # Calculate the difference in Combined MPG with the previous model
    df_sorted['MPG Change'] = df_sorted['Combined MPG'].diff()
    
    # Fill the gaps in years and calculate the difference with respect to the previous model
    df_sorted['MPG Change'] = df_sorted.groupby('Model')['MPG Change'].transform(lambda x: x.fillna(x.iloc[0]))
    df_sorted['MPG Change'].fillna(0, inplace=True)  # Assign the result of fillna back to the DataFrame
    
    # Create the final list with the required data types
    result = df_sorted[['Year', 'Combined MPG', 'MPG Change']].astype({'Year': int, 'Combined MPG': int, 'MPG Change': float}).values.tolist()

    return result

# Call the function and print the result
answer_dict["Q5"] = calculate_combined_mpg_changes(df)

for item in answer_dict["Q5"]:
    item[0] = int(item[0])
    item[1] = int(item[1])
    
print(answer_dict["Q5"])

[[1986, 26, 0.0], [1987, 26, 0.0], [1988, 25, -1.0], [1989, 25, 0.0], [1999, 24, -1.0], [2000, 24, 0.0], [2001, 24, 0.0], [2002, 24, 0.0], [2003, 24, 0.0], [2004, 24, 0.0], [2005, 24, 0.0], [2006, 24, 0.0], [2010, 25, 1.0], [2011, 26, 1.0], [2012, 26, 0.0], [2013, 26, 0.0], [2015, 30, 4.0], [2016, 30, 0.0], [2017, 29, -1.0]]

##Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda

#####Format: A 5X6 list with the first element of each row being the Make of the cars and the following five values being floats sorted in ascending order. The Makes should appear in order listed in the question starting with Toyota and ending with Honda (see example).

#####Example answer:

```
[['Toyota', 100.0, 140.0, 140.0, 150.0, 150.0],
 ['Ford',
  100.025641025641,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575],
 ['Volkswagen', 139.0, 154.0, 166.5, 166.5, 166.5],
 ['Nissan', 122.0, 122.0, 122.0, 122.0, 160.0],
 ['Honda', 100.0, 100.0, 100.0, 100.0, 123.91684618442447]]
```

In [10]:
########## Q6
def top_5_lowest_emissions(df):
    # Filter the DataFrame for the specified car brands
    selected_brands = ['Toyota', 'Ford', 'Volkswagen', 'Nissan', 'Honda']
    filtered_df = df[df['Make'].isin(selected_brands)]
    
    # Group the filtered data by 'Make'
    grouped = filtered_df.groupby('Make')
    
    # Initialize an empty list to store the results
    results = []
    
    # Iterate over each brand in the selected_brands list
    for brand in selected_brands:
        if brand in grouped.groups:
            # Get the group corresponding to the current brand
            group = grouped.get_group(brand)
            
            # Get the top 5 lowest emissions for the current brand
            top_5 = group.nsmallest(5, 'CO2 Emission Grams/Mile')['CO2 Emission Grams/Mile'].tolist()
            results.append([brand] + sorted(top_5))
        else:
            # If the brand is not in the DataFrame, add an empty list for that brand
            results.append([brand])
    
    return results

# Call the function and print the result
answer_dict["Q6"] = top_5_lowest_emissions(df)
print(answer_dict["Q6"])

[['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0], ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0], ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641], ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5], ['Honda', 130.0, 167.67924528301887, 167.67924528301887, 167.67924528301887, 167.67924528301887]]

##Q7. Form 7 groups of 5 years to calculated the median Combined MPG of each group. The first group is from 1984 to 1988, the second from 1989 to 1993 and so on. The last group will have years not appearing in the dataset.

#####Note: The groups ranges are inclusive on both sides, the first group starts with 1984 and cars from 1984 are included in it.
#####Format : A 7X2 list with the first element of each row being a tuple of two integers being the lower and uppper range of the year groups and the esecond element being the median Combined MPG of that group, a float number.

#####Example answer:


```
[[(1984, 1988), 11.0],
 [(1989, 1993), 10.0],
 [(1994, 1998), 10.0],
 [(1999, 2003), 14.0],
 [(2004, 2008), 13.0],
 [(2009, 2013), 14.0],
 [(2014, 2018), 15.0]]
```

In [11]:
########## Q7

def calculate_median_combined_mpg(df):
    # Define the bins for grouping the years
    bins = [1984, 1989, 1994, 1999, 2004, 2009, 2014, 2019]
    
    # Create a new column 'Year Group' based on the bins
    df['Year Group'] = pd.cut(df['Year'], bins, right=False)
    
    # Group the data by 'Year Group' and calculate the median Combined MPG for each group
    grouped = df.groupby('Year Group')['Combined MPG'].median().reset_index()
    
    # Extract the left and right endpoints of the interval and create a tuple for each group
    result = [((group.left, group.left + 4), median) for group, median in zip(grouped['Year Group'], grouped['Combined MPG'])]
    
    return result

# Call the function and print the result
answer_dict["Q7"] = calculate_median_combined_mpg(df)
print(answer_dict["Q7"])

[((1984, 1988), 19.0), ((1989, 1993), 18.0), ((1994, 1998), 19.0), ((1999, 2003), 19.0), ((2004, 2008), 19.0), ((2009, 2013), 21.0), ((2014, 2018), 22.0)]

##Test your answers

##### We provide you some tests to make sure your answer dictionary is in the correct format using unittest.
##### These tests are not meant to be comprehensive, you should review all your answers carefully.

In [12]:
import unittest

class TestAnswers(unittest.TestCase):
    def test_if_dict(self):
        self.assertIsInstance(answer_dict, dict)

    def test_keys(self):
        self.assertEqual(list(answer_dict.keys()), ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7'])

    def test_answers_types(self):
        types_values = [type(k) for k in answer_dict.values()]
        answer_types = [float, list, list, list, list, list, list]
        self.assertEqual(types_values, answer_types)

    def test_Q1(self):
        self.assertEqual(type(answer_dict['Q1']), float)

    def test_Q2_dim(self):
        self.assertEqual(np.array(answer_dict['Q2']).shape, (5,2))

    def test_Q2_types(self):
        dtype1 = type(answer_dict['Q2'][0][0])
        dtype2 = type(answer_dict['Q2'][0][1])
        self.assertEqual([dtype1, dtype2], [str, int])

    def test_Q3_types(self):
        q3_types = set([type(item) for item in answer_dict['Q3']])
        self.assertEqual(q3_types, {str})

    def test_Q4_dim(self):
        self.assertEqual(np.array(answer_dict['Q4']).shape, (9,3))

    def test_Q4_types(self):
        dtype1 = type(answer_dict['Q4'][0][0])
        dtype2 = type(answer_dict['Q4'][0][1])
        dtype3 = type(answer_dict['Q4'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [str, int, float])

    def test_Q5_dim(self):
        self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q5'][0][0])
        dtype2 = type(answer_dict['Q5'][0][1])
        dtype3 = type(answer_dict['Q5'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [int, int, float])

    def test_Q5_first_zero(self):
        self.assertEqual(answer_dict['Q5'][0][2], 0)


    def test_Q6_dim(self):
        self.assertEqual(np.array(answer_dict['Q6']).shape, (5,6))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q6'][0][0])
        dtype2 = type(answer_dict['Q6'][0][1])
        dtype3 = type(answer_dict['Q6'][0][2])
        dtype4 = type(answer_dict['Q6'][0][3])
        dtype5 = type(answer_dict['Q6'][0][4])
        dtype6 = type(answer_dict['Q6'][0][5])
        self.assertEqual([dtype1, dtype2, dtype3, dtype4, dtype5, dtype6], [str, float, float, float, float, float])

    def test_Q6_check_first_and_last_brand(self):
        first_brand = answer_dict['Q6'][0][0]
        last_brand = answer_dict['Q6'][4][0]

        self.assertEqual([first_brand, last_brand], ["Toyota", "Honda"])

    def test_Q7_dim(self):
        self.assertEqual(np.array(answer_dict['Q7'], dtype=object).shape, (7,2))

    def test_Q7_types(self):
        dtype1 = type(answer_dict['Q7'][0][0])
        dtype2 = type(answer_dict['Q7'][0][1])
        self.assertEqual([dtype1, dtype2], [tuple, float])

unittest.main(argv=[''], verbosity=2, exit=False)

test_Q1 (__main__.TestAnswers) ... ok
test_Q2_dim (__main__.TestAnswers) ... ok
test_Q2_types (__main__.TestAnswers) ... ok
test_Q3_types (__main__.TestAnswers) ... ok
test_Q4_dim (__main__.TestAnswers) ... ok
test_Q4_types (__main__.TestAnswers) ... ok
test_Q5_dim (__main__.TestAnswers) ... ok
test_Q5_first_zero (__main__.TestAnswers) ... ok
test_Q5_types (__main__.TestAnswers) ... ok
test_Q6_check_first_and_last_brand (__main__.TestAnswers) ... ok
test_Q6_dim (__main__.TestAnswers) ... ok
test_Q7_dim (__main__.TestAnswers) ... ok
test_Q7_types (__main__.TestAnswers) ... ok
test_answers_types (__main__.TestAnswers) ... ok
test_if_dict (__main__.TestAnswers) ... ok
test_keys (__main__.TestAnswers) ... ok

----------------------------------------------------------------------
Ran 16 tests in 0.057s

OK

##Save your answers


##### First, take a moment to evaluate your answers and make sure you have not missed anything

##### Use the following code to save your answers in pickle format, change the filename using the following format:
##### FIRSTNAME_LASTNAME_answers.pkl
##### Example: Juan_Perez_answers.pkl

##### If you are using google colab you can find your file on the left side bar by clicking the folder icon inside the sample_data folder. Remember to upload the pickle file and the notebook to github and submit their URLs to the [google form](https://forms.gle/wWysZEMkoZsjB11Y7).

In [13]:
answer_dict

{'Q1': 392.742,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': [['Cab/Chassis 2WD', 1993, 4.113376218494302],
  ['Cab/Chassis 2WD', 1992, 4.113376218494302],
  ['Cab/Chassis 2WD', 1991, 4.113376218494302],
  ['Cab/Chassis 2WD', 1990, 4.113376218494302],
  ['Cab/Chassis 2WD', 1989, 4.113376218494302],
  ['Cab/Chassis 2WD', 1993, 3.380032477246414],
  ['Cab/Chassis 2WD', 1992, 3.380032477246414],
  ['Cab/Chassis 2WD', 1991, 3.380032477246414],
  ['Cab/Chassis 2WD', 1990, 3.380032477246414]],
 'Q5': [[1986, 26, 0.0],
  [1987, 26, 0.0],
  [1988, 25, -1.0],
  [1989, 25, 0.0],
  [1999, 24, -1.0],
  [2000, 24, 0.0],
  [2001, 24, 0.0],
  [2002, 24, 0.0],
  [2003, 24, 0.0],
  [2004, 24, 0.0],
  [2005, 24, 0.0],
  [2006, 24, 0.0],
  [2010, 25, 1.0],
  [2011, 26, 1.0],
  [2012, 26, 0.0],
  [2013, 26, 0.0],
  [2015, 30, 4.0],
  [2016, 30, 0.0],
  [2017, 29, -1.0]],
 'Q6': [['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
  ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
  ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
  ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
  ['Honda',
   130.0,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887]],
 'Q7': [((1984, 1988), 19.0),
  ((1989, 1993), 18.0),
  ((1994, 1998), 19.0),
  ((1999, 2003), 19.0),
  ((2004, 2008), 19.0),
  ((2009, 2013), 21.0),
  ((2014, 2018), 22.0)]}

In [15]:
import pickle

file_name = "Pius_Kitheru_answers.pkl"
path = "C:\\Users\\Wizeline_Code_Challenge"

with open(path+file_name, 'wb') as f:
    pickle.dump(answer_dict, f, protocol=pickle.HIGHEST_PROTOCOL)